BeaconDemo/BeaconDemo.xcodeproj/project.xcworkspace/xcshareddata/BeaconDemo.xccheckout
BeaconDemo/BeaconDemo.xcodeproj/project.xcworkspace/xcuserdata/mpospese.xcuserdatad/UserInterfaceState.xcuserstate
BeaconDemo/BeaconDemo.xcodeproj/xcuserdata/mpospese.xcuserdatad/xcschemes/BeaconDemo.xcscheme
BeaconDemo/BeaconDemo.xcodeproj/xcuserdata/mpospese.xcuserdatad/xcschemes/xcschememanagement.plist
